# **** **** **** **** **** **** **** **** #
#      web repository gitignore file      #
#                                         #
# author: necavit                         #
# **** **** **** **** **** **** **** **** #


# Ghost blog engine directory
ghost/*
