# **** **** **** **** **** **** **** **** #
#      web repository gitignore file      #
#                                         #
# author: necavit                         #
# **** **** **** **** **** **** **** **** #


# Ghost blog engine directory
ghost/*

# Any zipped or tarred file
*.tar
*.tgz
*.gz
*.zip
*.tar.gz
# design directory
design/*
