<div id="presentation-card" class="card">
  <div class="card-content">
    <span class="card-title theme-text-color accent-4">
      Some more things about me
    </span>
    <p>
      <small>(This was meant to be a blog post, but it did not fit really well there!)</small>
    </p>
    <p>
      I was born in Barcelona in 1992 (Olympics!!) and here I have lived ever since. It is a vibrant city,
      plenty of opportunities and experiences and awesome people from all over the world. I like it here, but
      I need to get outside  from time to time, to let off steam and, mostly, because I love open air and
      nature in all its essence. The Pyrenees have been my second home for many years and there is nothing I
      like more than hiking up mountains, getting to the top and breathing deeply all the freedom you get
      there. And, speaking of mountains, I found a basque proverb in a mountaineering magazine that helps me
      keep going and pushing hard, either on a climb or, really, in any other situation:
    </p>
    <blockquote>
      <p>
        <em>Non gogoa, han zangoa.</em>
      </p>
    </blockquote>
    <p>
      Unfortunately, I don't actually speak basque, so forgive me if the translation is not accurate, but the
      idea is: <em>"where there's a will, there's a way"</em>.
    </p>
    <p>
      There is one other thing comparable to my love for mountains: <em>cycling</em>. I can't recall how old
      was I when I rode my first bike (my parents told me once that I was three), but I know it was an orange
      one! I've been mountain cycling through all these years, until I got myself a road bike almost a couple
      of years ago. And that was indeed a good decision! I had done a couple of short distance triathlons
      with my mountain bike, but the path for "long" distance ones finally opened with this one! On September
      2014, I finished my first half ironman triathlon, together with some good friends of mine.
    </p>
    <span class="card-title-2">What do I do?</span>
    <p>
      So, apart from enjoying a hard cycle climb or a relaxing mountain trek, how do I spend the rest of my
      day? Well, at the time of this writing, I am undertaking a bachelor degree in
      <a href="http://www.fib.upc.edu/en.html">informatics engineering</a>, with a major in
      <a href="http://www.fib.upc.edu/en/estudiar-enginyeria-informatica/especialitats-grau/computacio.html">
      computer science</a>, and working at <a href="http://inlab.fib.upc.edu">inLab FIB</a> as an intern,
      developing Android and iOS apps. These are not the only things I've been involved in at the
      university campus - I was an active member of the school's students assembly for a couple of years
      and I was involved in the school's board too, as one of the (many) students representatives.
    </p>
  </div>
</div>
