---
layout: page
title: Thoughts
page_title: "{{ ideas }}"
position: 2
parallax_header_image: "parallax_4.jpeg"
parallax_footer_image: "parallax_3.jpeg"
---

<div class="row">
{% assign thoughts = site.thoughts | sort: 'date' %}
{% for thought in thoughts reversed %}
	<article id="{{ thought.name }}" class="col s12 m6 l4 thought">
		{% case thought.type %}
		{% when 'panel' %}
		  <div class="card-panel {% if thought.back-color %}{{ thought.back-color }}{% endif %}">
				<span class="{% if thought.text-color %}{{ thought.text-color }}{% endif %}">
					{{ thought.content }}
				</span>
			</div>
		{% when 'simple' %}
		  <div class="card">
				<div class="card-content">
					<span class="card-title {% if thought.title-color %}{{ thought.title-color }}{% endif %}">{{ thought.title }}</span>
					{{ thought.content }}
				</div>
			</div>
		{% when 'image' %}
		  <div class="card">
				<div class="card-image">
					<img src="{{ thought.image }}" />
					<span class="card-title {% if thought.title-color %}{{ thought.title-color }}{% endif %}">
						{{ thought.title }}
					</span>
				</div>
				<div class="card-content">
					{{ thought.content }}
				</div>
			</div>
		{% when 'reveal' %}
		  <div class="card">
				<div class="card-image">
					<img src="{{ thought.image }}" />
				</div>
				<div class="card-content">
					<span class="card-title activator {% if thought.title-color %}{{ thought.title-color }}{% endif %}">
						{{ thought.title }}
						 <i class="mdi-navigation-more-vert right"></i>
					</span>
					<p>
						{{ thought.unveiled-content }}
					</p>
				</div>
				<div class="card-reveal">
					<span class="card-title {% if thought.title-color %}{{ thought.title-color }}{% endif %}">
						{{ thought.title }}
						 <i class="mdi-navigation-more-vert right"></i>
					</span>
					{{ thought.content }}
				</div>
			</div>
		{% else %}

		{% endcase %}
	</article>
{% endfor %}
</div>

<!-- Thoughts properties:
#### Required generic attributes ####
date: ""                            # Used to sort the thoughts
name: ""                            # Used to build anchors and id's
type: "{panel|simple|image|reveal}" # Determines the kind of card being used

# Note: the main content ('content' attribute) of the thought is taken from the markdown content
#   *after* the YAML Front Matter

#### Optional attributes ####
# {panel} applicable
back-color: ""                      # The color used in the card's background
text-color: ""                      # The color used in the card's text

# {simple, image, reveal} applicable
title: ""                           # The card's title
title-color: ""                     # (Optional) The card's title color

# {image, reveal} applicable
image: ""                           # The image shown in the card

# {reveal} applicable
unveiled-content: ""                # (Optional) The content being shown below the card's title
-->
