---
layout: default
---
<div class="page">

  <div class="page-header">
    {% if page.parallax_header_image %}
      <div class="parallax-wrapper">
        <div class="parallax-container">
          <div class="parallax">
            <img src="/img/{{ page.parallax_header_image }}">
          </div>
        </div>
        <div class="container">
          <h1 class="page-parallax-title">
            {% if page.page_title %}
              {{ page.page_title }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
        </div>
      </div>
      <div class="no-parallax-wrapper page-title-container-no-parallax">
        <div class="container">
          <h1>
            {% if page.page_title %}
              {{ page.page_title }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
        </div>
      </div>
    {% else %}
      <div class="page-title-container-no-parallax">
        <div class="container">
          <h1>
            {% if page.page_title %}
              {{ page.page_title }}
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>
        </div>
      </div>
    {% endif %}

  </div>

  <div class="page-content">
    <div class="container">
      {{ content }}
    </div>
  </div>

  <div class="page-footer">
    {% if page.parallax_footer_image %}
      <div class="parallax-wrapper">
        <div class="parallax-container">
          <div class="parallax">
            <img src="/img/{{ page.parallax_footer_image }}">
          </div>
        </div>
      </div>
    {% endif %}
  </div>

</div>
