<header id="header_container" class="container_16 dark_block">
  <div id="header_title_grid" class="grid_9">
    <h2 id="header_title">David Martínez</h2>
  </div>
  <div id="header_navigation_grid" class="grid_7">
    <nav id="header_nav">
      <ul class="fill_width_list no_margin">
        <li class="fill_width_list_item">
          <a href="/"><h4>Home</h4></a>
        </li>
        <!--
        <li class="fill_width_list_item">
          <a href="#"><h4>Portfolio</h4></a>
        </li>
        -->
        <li class="fill_width_list_item">
          <a href="http://blog.davidmr.es" target="_blank"><h4>Blog</h4></a>
        </li>
        <li class="fill_width_list_item">
          <a href="/contact"><h4>Contact</h4></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
