<!--
<div id="under_construction_container" class="container_16">
  <div id="under_construction_grid" class="grid_14 prefix_1 suffix_1">
    <div id="under_construction_wrapper" class="construction rounded_5">
      <p id="under_construction_content">
        Hello there! I am a very simple web page, because I am still under
        construction. Come visit me somewhat later, please!
      </p>
      <button id="close_button" class="construction_button rounded_5" type="button">
        <i id="close_icon" class="fa fa-times-circle"></i>
        Ok, understood.
      </button>
    </div>
  </div>
</div>
-->

 <div id="resume_container" class="container_16 light_gray_container">
  <div id="resume_grid" class="grid_16">
    <div id="resume">
      <span>developer & scientist with a passion for sport</span>
    </div>
  </div>
</div>

<div id="banner_container" class="container_16">
  <div id="banner_grid" class="grid_14 prefix_1 suffix_1">
    <div id="banner_chip">
      <div id="banner_chip_content" class="no_margin">
        <img id="banner_avatar"
          src="img/avatar_400.png"
          title="Den-Bosch carnival - the Netherlands"
          alt="Den-Bosch carnival - the Netherlands" />
        <div id="banner_text">
          <p>
            Hi there! I'm David, a software developer with a scientific heart, a runner,
            a swimmer and a cycling lover. When I'm not studying, hacking or
            messing around, I always look for a new road to ride or a new hill to climb.
          </p>
          <p>
            I continuously seek for new ideas and points of view that might
            change how I see things in life. Reading helps a lot, and meeting new people,
            sharing and collaborating too.
          </p>
          <p>
            If you want to know more about the things I do, my
            <a href="http://blog.davidmr.es" target="_blank">blog</a>
            is a good start! I write mostly about techie stuff there, but some
            other ideas and thoughts surely end up there too.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="quote_container" class="container_16 light_gray_container">
  <div id="quote_grid" class="grid_10 prefix_3 suffix_3">
    <div id="quote">
      <i id="quote_left" class="fa fa-quote-left fa-2x quote_color"></i>
      <span class="quote_color quote_text" title="Where there is a will, there is a way">
        Non gogoa, han zangoa*
      </span>
      <i id="quote_right" class="fa fa-quote-right fa-2x quote_color"></i>
    </div>
  </div>
</div>

<div id="contact_bar" class="container_16 dark_block">
  <div id="contact_bar_content" class="grid_6 prefix_5 suffix_5">
    <ul class="fill_width_list no_margin">
      <li class="fill_width_list_item">
        <a href="https://www.linkedin.com/in/davidmartinezrodriguez" target="_blank">
          <i id="linkedin_icon" class="fa fa-linkedin fa-4x"></i>
        </a>
      </li>
      <li class="fill_width_list_item">
        <a href="https://github.com/necavit" target="_blank">
          <i id="github_icon" class="fa fa-github fa-4x"></i>
        </a>
      </li>
      <li class="fill_width_list_item">
        <a href="https://bitbucket.org/necavit" target="_blank">
          <i id="bitbucket_icon" class="fa fa-bitbucket fa-4x"></i>
        </a>
      </li>
      <li class="fill_width_list_item">
        <a href="https://twitter.com/nihilsinecaos" target="_blank">
          <i id="twitter_icon" class="fa fa-twitter fa-4x"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="blog_container" class="container_12">
  <!-- image be here -->
  <div id="blog_content" class="grid_12">
    <div class="grid_4 alpha">
      <a href="http://blog.davidmr.es/reviewing-json-schema">
        <article id="article_left" class="article_container">
          <h3>Reviewing JSON Schema</h3>
          <p>Almost every web and mobile developer has to deal, at some point, with sending or receiving JSON formatted data. But there are some things we are not doing well: we are not validating this data structures and we are developing software based on wrongfully documented services, which ends up being uncomfortable and, sometimes, painful. JSON Schema can help us address both these situations.</p>
          <p><b>Read more</b></p>
        </article>
      </a>
    </div>
    <div class="grid_4">
      <a href="http://blog.davidmr.es/server-setup">
        <article id="article_left" class="article_container">
          <h3>davidmr.es</h3>
          <p>Where is this blog running? How is it set up? On top of which technology are this blog and the davidmr.es webpage built? I'll try to explain it here with some code snippets and diagrams that may help make that clear.</p>
          <p>Before I begin, it's been literally months since I started building this, so forgive me if I don't recall things well... Or if some explanation is poor or even misleading.</p>
          <p><b>Read more</b></p>
        </article>
      </a>
    </div>
    <div class="grid_4 omega">
      <a href="http://blog.davidmr.es/welcome">
        <article id="article_center" class="article_container">
          <h3>Welcome!</h3>
          <p>Hi there! I'm glad you are reading this, because a lot of love and effort have been put in it. So... To begin with, welcome to my blog!</p>
          <p>First things first, if you want to know what I do, check my website if you didn't come from there and keep an eye on this blog, which I hope will take off pretty soon with some articles. You might be wondering: what is this about? Well, let me tell you!</p>
          <p><b>Read more</b></p>
        </article>
      </a>
    </div>
  </div>
</div>
