nav {
	@extend nav;
	background-color: color($theme-color, "base");
}

footer {
  @extend .z-depth-1;
  background-color: color($theme-color, "base");
  margin-top: 0px;

  .footer-copyright {
    background-color: color($theme-color, "darken-1");
  }
}

a {
	color: color($theme-text-color, "accent-4");
}
