.card {

  background-color: white;

  .card-image {
    img {
      z-index: 0;
    }
  }

  .card-content {
    p {
      margin-bottom: 0.5em;
    }
  }

  .card-reveal {
    width: 100%;

    p {
      margin-bottom: 0.5em;
    }
  }

  a {
    span.card-title {
      text-transform: none;
    }
  }

  span.card-title {
    color: inherit;
  }

  span.card-title-2 {
    // Original Materialize framework defines the card title
    //  to be: font-size: 24px;
    @extend .card-title;
    color: color($theme-text-color, "accent-2");
    font-size: 20px;
    text-transform: uppercase;
  }

}
