---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "materialize"
;

.parallax-wrapper {
  @extend .hide-on-med-and-down;
}

.no-parallax-wrapper {
  @extend .hide-on-large-only;
}

.parallax-container {
  height: 350px;
}

footer {
  @extend .z-depth-1;
  margin-top: 0px;
}

.page-header {
  position: relative;
}

.page-parallax-title {
  position: absolute;
  bottom: 0px;
}

.page-content {
  padding: 20px 0px 20px 0px;
}

.contact-icon {
  max-width: 40%;
}

.contact-icon:hover {
  opacity: 0.6;
}
