<div id="cookie-policy-modal" class="modal">
	<h3>
		<a href="/privacy-policy">Privacy policy agreement</a>
	</h3>
	<p>
		If you <b>accept</b> this site's <a href="/privacy-policy">privacy policy</a>, some third party
		cookies might be installed in your device, to give you the best experience during your visit.
	</p>
	<p>
		If you <b>reject</b> the <a href="/privacy-policy"> policy</a>, <em>no third party cookies will be
		installed</em>, but some features will be missing: you will <em>not</em> be able to see or
		post comments on the blog.
	</p>
	<p>
		You can reject the <a href="/privacy-policy">privacy policy</a> later, by visiting the
		policy page.
	</p>
	<div class="right">
		<a id="cookie-policy-modal-accept" href="#" class="btn theme-color modal-close">Accept</a>
		<a id="cookie-policy-modal-reject" href="#" class="btn theme-color modal-close">Reject</a>
	</div>
</div>
