<div class="card">
  <div class="card-content">
    <span class="card-title theme-text-color accent-4">This site has&#8230;</span>
    <div class="row">
      <div class="col s12 m6">
        <span class="card-title-2">Blog</span>
        <p>
          Rather long, <em>techie</em> articles of my own. Android, iOS, web development,
					REST APIs and anything that I might be working on. Perhaps some posts on other
					kind of topics too: economy, technology, environment, sports or anything I feel
					like talking about!
        </p>
      </div>
      <div class="col s12 m6">
        <span class="card-title-2">Thoughts</span>
        <p>
          <em>Short</em>, random, empowering bits of text; images, sensations, thoughts and
					feelings. Quotes, stories, tales, poems (perhaps), lyrics and anything that fits in here:
          little experiences that help me shape and understand the world.
        </p>
      </div>
    </div>
  </div>
</div>
