<div class="elevator-pitch-card">
	<div class="card">
    <div class="card-content">
      <span class="card-title theme-text-color accent-4">
        <a href="#presentation-card">&ldquo;<em>Non gogoa, han zangoa.</em>&rdquo;</a>
      </span>
      <div class="row">
        <div class="col offset-s3 s6 m4 l3 ">
          <img class="responsive-img circle" src="/img/avatar_400.png">
        </div>
        <div class="col s12 m8 l9">
          <p>
						Hi there!
					</p>
					<p>
            I'm David, a software developer with a scientific heart, a runner, a swimmer and a
						cycling lover. I always seek for new ideas and points of view that might
						change how I see things in life. Reading, meeting new people, sharing and collaborating
						help a lot in this purpose.
          </p>
					<p>
						My greatest ambition is to find synergies and interrelations between technology (informatics in
						particular) and sustainability sciences: what solutions and mindsets do we need as a society to
						stop harming the environment and our own future, without resigning a certain level of
						technological and scientific progress?
					</p>
          <p>
            If you want to know more about <a href="#presentation-card">the things I do</a>,
						my <a href="/">blog</a> is a good start. I write mostly about techie stuff there, but
						feel free to visit my <a href="/thoughts">thoughts</a> pin board too!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
