<div class="elevator-pitch-card">
	<div class="card">
    <div class="card-content">
      <span class="card-title theme-text-color accent-4">
        <a href="#presentation-card">&ldquo;<em>Non gogoa, han zangoa.</em>&rdquo;</a>
      </span>
      <div class="row">
        <div class="col offset-s3 s6 m4 l3 ">
          <img class="responsive-img circle" src="/img/avatar_400.png">
        </div>
        <div class="col s12 m8 l9">
          <p>
            Hi there! I'm David, a software developer with a scientific heart, a runner,
            a swimmer and a cycling lover. When I'm not studying, hacking or
            messing around, I always look for a new road to ride or a new hill to climb.
          </p>
          <p>
            I continuously seek for new ideas and points of view that might
            change how I see things in life. Reading helps a lot, and meeting new people,
            sharing and collaborating too.
          </p>
          <p>
            If you want to know more about the things I do, my blog is a good start! I write
            mostly about techie stuff there, but some other ideas and thoughts surely
            end up there too.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
