<div class="card">
  <div class="card-content">
    <div class="row">
      <span class="col s12 m4 card-title">
        &ldquo;<em>Non gogoa, han zangoa.</em>&rdquo;
      </span>
      <span class="col s12 m8 card-title grey-text">
        Where there's a will, there's a way.
      </span>
    </div>
    <div class="row">
      <img class="col offset-s2 s8 m4" src="/img/avatar_400.png">
      <div class="col s12 m8">
        <p>
          Hi there! I'm David, a software developer with a scientific heart, a runner,
          a swimmer and a cycling lover. When I'm not studying, hacking or
          messing around, I always look for a new road to ride or a new hill to climb.
        </p>
        <p>
          I continuously seek for new ideas and points of view that might
          change how I see things in life. Reading helps a lot, and meeting new people,
          sharing and collaborating too.
        </p>
        <p>
          If you want to know more about the things I do, my blog is a good start! I write
          mostly about techie stuff there, but some other ideas and thoughts surely
          end up there too.
        </p>
      </div>
    </div>
  </div>
</div>
