<footer>
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text lighten-4">* "Where there is a will, there is a way" (Basque proverb)</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <p class="grey-text lighten-4">
          <a class="grey-text lighten-4" href="#!">Link 1</a> |
          <a class="grey-text lighten-4" href="#!">Link 2</a> |
          <a class="grey-text lighten-4" href="#!">Link 3</a> |
          <a class="grey-text lighten-4" href="#!">Link 4</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      All content copyright David Martínez Rodríguez &copy; 2014 &middot; All rights reserved.
    </div>
  </div>
</footer>
