<footer id="footer_container" class="container_16 dark_block">
  <div id="footer_content">
    <p id="quote_explanation">* "Where there is a will, there is a way" (Basque proverb)</p>
    <nav id="footer_nav">
      <a href="/">Home</a> |
      <!--<a href="#">Portfolio</a> | -->
      <a href="http://blog.davidmr.es" target="_blank">Blog</a> |
      <a href="mailto:davidmr.web@gmail.com">Contact</a>
    </nav>
    <br><br>
    <p id="copyright">All content copyright David Martínez Rodríguez
      &copy; 2014 &middot; All rights reserved.</p>
  </div>
</footer>
