<header>
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">David Martínez</a>
        <ul id="nav-mobile" class="right side-nav">
          {% for page in site.pages %}
            {% if page.title %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <!-- Mobile collapsing navbar -->
      <a class="button-collapse" href="#" data-activates="nav-mobile">
        <i class="mdi-navigation-menu"></i>
      </a>
    </div>
  </nav>
</header>
